<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="PrepareReport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="PrepareReport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup><userSettings>
        <PrepareReport.Properties.Settings>
            <setting name="ManagerReportPhraseToAdd" serializeAs="String">
                <value>Progress review.</value>
            </setting>
            <setting name="MessageToAddInClipboard" serializeAs="String">
                <value>Weekly timesheet and invoices ({Date})
Hi Gorkhmaz

Please find attached time-sheets and invoices.

Best regards
Sasha
            </value>
            </setting>
            <setting name="PasswordForZip" serializeAs="String">
                <value>SoftwareAces99</value>
            </setting>
            <setting name="TargetFolderArchive" serializeAs="String">
                <value>C:\CleverCAD\Reporting\Archive</value>
            </setting>
            <setting name="GenerateManagerReport" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsToSaveTasksToFiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsToGenerateInvoices" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsToDoFileMoverTasks" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SubFolderInvoices" serializeAs="String">
                <value>Inv</value>
            </setting>
            <setting name="SourceFolderTest" serializeAs="String">
                <value>c:\Work\Temp\PrepareReportTest\Src</value>
            </setting>
            <setting name="TargetFolderTest" serializeAs="String">
                <value>c:\Work\Temp\PrepareReportTest\Trg</value>
            </setting>
            <setting name="IsTestMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FilesMoverTasksFolder" serializeAs="String">
                <value>c:\CleverCAD\Reporting\FilesMoverTasks</value>
            </setting>
            <setting name="FilesMoverTasksToDo" serializeAs="String">
                <value>ToYR;</value>
            </setting>
            <setting name="SummarizeReportFolder" serializeAs="String">
                <value>C:\Users\Asus\Dropbox\AN_YR\SoftwareAces\CleverCAD</value>
            </setting>
        </PrepareReport.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <PrepareReport.Properties.Settings>
            <setting name="ManagerFolder" serializeAs="String">
                <value>_AN</value>
            </setting>
            <setting name="SourceFolder" serializeAs="String">
                <value>C:\Users\Asus\Dropbox\CleverCAD_Timebooking</value>
            </setting>
            <setting name="TargetFolder" serializeAs="String">
                <value>C:\CleverCAD\Reporting</value>
            </setting>
        </PrepareReport.Properties.Settings>
    </applicationSettings>
</configuration>
