<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DiscoursesFileProcessing.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <DiscoursesFileProcessing.Properties.Settings>
            <setting name="InputFolder" serializeAs="String">
                <value>F:\Work\Docs\Jatakas</value>
            </setting>
            <setting name="FilePattern" serializeAs="String">
                <value>j3_.pdf</value>
            </setting>
            <setting name="Pages" serializeAs="String">
                <value>1-End</value>
            </setting>
            <setting name="LinesToIgnore" serializeAs="String">
                <value>^\s+\d+$&lt;&gt;^\s*\(\d+\)[ ]{3,}&lt;&gt;Játaka Tales of the Buddha&lt;&gt;\(\d+\)\s+(?&lt;name&gt;(\w|[ '.,?!:+-/*()])+)&lt;&gt;^$</value>
            </setting>
            <setting name="EmptyLinesTo1" serializeAs="String">
                <value>Yes</value>
            </setting>
            <setting name="OutputFileName" serializeAs="String">
                <value>{number}.txt</value>
            </setting>
            <setting name="ReportLinesByPattern" serializeAs="String">
                <value>//^\s+\d+[\r\n]+\s+.+[\r\n]+\s+.+Játaka[ \r\n]+</value>
            </setting>
            <setting name="NLOnlyForParagraph" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StartOfNewStoryFile" serializeAs="String">
                <value>^\s+(?&lt;number&gt;\d+)[\r\n]+\s+(?&lt;name&gt;(\w|[’'.,?!-: ])+)[\r\n]+\s+.+Játaka[ \r\n]*</value>
            </setting>
            <setting name="LibPath" serializeAs="String">
                <value>F:\Work\GitHub\DiverseAN\NetApps\Libs</value>
            </setting>
            <setting name="ParagraphSize" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="FootnoteRefPattern" serializeAs="String">
                <value>(?&lt;=([;:.,!?]|[a-zA-Z’']+))\d+</value>
            </setting>
            <setting name="FootnotePattern" serializeAs="String">
                <value>(?&lt;=([ ]*))\d+(?=[.])</value>
            </setting>
            <setting name="StartOfAppendix" serializeAs="String">
                <value>^\s+(?&lt;name&gt;(APPENDIX))[\r\n]+\s+(Glossary of Terms)</value>
            </setting>
        </DiscoursesFileProcessing.Properties.Settings>
    </userSettings>
</configuration>