<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DiscoursesFileProcessing.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <DiscoursesFileProcessing.Properties.Settings>
            <setting name="OutputFileTemplate" serializeAs="String">
                <value>__JatakasUATempleate.docx</value>
            </setting>
            <setting name="OutputFileName" serializeAs="String">
                <value>Ja-UA.docx</value>
            </setting>
            <setting name="InputFolder1_Testing" serializeAs="String">
                <value>F:\Work\Docs\Discourses</value>
            </setting>
            <setting name="DocPattern1_Testing" serializeAs="String">
                <value>Discourses EN-RU_*.docx</value>
            </setting>
            <setting name="AllSrc2OneOut" serializeAs="String">
                <value>NO</value>
            </setting>
            <setting name="InputFolder" serializeAs="String">
                <value>F:\Work\Docs\JatakasUA2</value>
            </setting>
            <setting name="DocPattern" serializeAs="String">
                <value>*Játaka.docx</value>
            </setting>
        </DiscoursesFileProcessing.Properties.Settings>
    </userSettings>
</configuration>